	#body{
		background: rgb(186, 197, 255);
	}

	#body-format{
		margin-left:10%;
				
		background: rgb(186, 197, 255);		
		font-size: 120%;
		font: georgian;
	}
	
	.logo{
		position:absolute;
		top: 20%;
		left: 70%;
			
		border:30px double rgb(0,0,300);
	}
			
	.headingstyle1{			
		margin-left: 20%;
		padding-right:10%;
		padding-left:10%;
		font-size: 160%;
		border-bottom:10px solid;
			
	}
			
	.company-name{
			
		margin-left: 15%;
		margin-bottom: 20%;
		Padding-right:25%;
		Padding-left:25%;
		
		background: rgb(217,217,217);
		font-size: 120%;
		border-bottom: 10px solid;
	}
	
	.pic-style1{
		padding-left: 25%;
		width:500px;
	}
	
	.headingstyle2{			
		margin-left: 20%;
		padding-right:10%;
		padding-left:10%;
		font-size: 100%;
	}
	
	.tablestyle1{
		border: 10px double white;
		margin-left: 8%;
		font-size: 130%
	}
	.link{
		background: rgb(217,217,217);
		padding-right:10px;
		padding-bottom: 20px;
		padding-left: 4px;
		border:10px solid white;
		